docker:
  lookup:
    compose:
      version: 1.6.2
      completion: true

    engine:
      version: 1.10.3
      env_vars:
        DOCKER_HOST: /var/run/docker.sock
        TLS_VERIFY: TRUE
      opts: 
        dns: 
          - 8.8.8.8
          - 8.8.4.4
      users:
        - vagrant
        
    volume:
      driver:
        local_persist:
          version: 1.1.0
          volumes:
            test-persist:
              mountpoint: /tmp/test
            
    images:
      - registry:2
      - ubuntu:14.04
    
    containers:
      test:
        image: "ubuntu:14.04"
        binds:
          - /mnt/data/:/opt/data/:rw
        port_bindings:
          - 5000:5000
        network_mode: bridge
        restart_policy: always
