docker:
  compose:
    version: 1.5.1
    completion: true

  engine:
    version: 1.9.0
    env_vars:
      DOCKER_HOST: /var/run/docker.sock
      TLS_VERIFY: TRUE
    opts: 
      dns: 
        - 8.8.8.8
        - 8.8.4.4
