compose:
  lookup:
    version: 1.5.1
    completion: true

docker-pkg:
  lookup:
    version: 1.9.0
    opts: 
      - "--dns=8.8.8.8"
      - "--dns=8.8.4.4"
    env_vars:
      - "DOCKER_HOST=/var/run/docker.sock"
      - "TLS_VERIFY=TRUE"
    users:
      - vagrant
