docker:
  lookup:
    compose:
      version: 1.5.2
      completion: true

    engine:
      version: 1.9.1
      env_vars:
        DOCKER_HOST: /var/run/docker.sock
        TLS_VERIFY: TRUE
      opts: 
        dns: 
          - 8.8.8.8
          - 8.8.4.4
      users:
        - vagrant
